<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AMP Code Test</title>
  <link type="text/css" rel="stylesheet" href="build/site.css" />
</head>
<body ng-controller="AmpController">

<section class="container-fluid">
  <div class="form-group">
    <h1>People Search</h1>
    <input type="text" class="form-control" ng-model="searchTerm" placeholder="enter your search term" aria-describedby="basic-addon1">
  </div>

  <search-list items="searchData" search="searchTerm"></search-list>
</section>

<script src="bower_components/angular/angular.js"></script>
<script src="app/app.js"></script>
<script src="app/controllers/controller.js"></script>
<script src="app/services/services.js"></script>
<script src="app/directives/directive.js"></script>
</body>
</html>
