@import '../bower_components/bootstrap-sass/assets/stylesheets/bootstrap';

@include linx(white, blue, green, red);

@mixin sample {
  font-size: 12px;
}
h1, h4 {
  color:#0080af;
  font-family: "Arial";
}
